.container {
    width: 100vw;
    height: 65vh;
    position: relative;
    transition: all .4s;
}

.bgVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}


.titleOne, .titleTwo {
    font-weight: 100;
    font-size: 4rem;
}

.titleOne {
    position: absolute;
    top: 90px;
    left: 35%;
    animation: fade 2s forwards;
    opacity: 0;
}

.titleTwo {
    position: absolute;
    top: 200px;
    right: 15%;
    animation: fade 2s forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

.logo {
    position: absolute;
    top: 300px;
    right: 48%;
    height: 120px;
    width: 120px;
    animation: fade 2s forwards;
    animation-delay: 3s;
    opacity: 0;
}

.btn {
    position: absolute;
    top: 450px;
    right: 48%;
    animation: fade 2s forwards;
    animation-delay: 3.5s;
    opacity: 0;
    padding: 10px 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--color-one);
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    background-color: var(--color-two);
}

.btn:active ~ .container {
    height: 75vh;
}

.searchBox {
    width: 70%;
    height: 4rem;
    position: absolute;
    top: 550px;
    left: 15%;
    transition: all 1s;
}

.search {
    height: 100%;
    width: 95%;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: #fff;
    font-size: 1rem;
    padding-left: 10px;
}

.searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 100%;
    background-color: var(--color-one);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.icon {
    font-size: 30px;
    color: #fff;
 }

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}